/*****************************************************************************/
/* _colors: Global colors number and classes for the app */
/*****************************************************************************/
$primary-color: #263238;
$primary-color-light: #5e35b1;
$primary-color-dark: #263238;
$text-primary-color: white;

$secondary-color: #673ab7;
$secondary-color-light: #7e57c2;
$secondary-color-dark: #424242;
$secondary-color-accent: #aa00ff;
$text-secondary-color: #e3f2fd;


// .primcol {
//     @extend .indigo;
// }

// .text-primcol {
//     @extend .cyan;
// }

.primcol-light-container {
    background-color: $primary-color-light;
    color : $text-primary-color;
    opacity: 0.99;
}

.primcol-container {
    background-color: $primary-color;
    color : $text-primary-color;
}

.primcol-dark-container {
    background-color: $primary-color-dark;
    color : $text-primary-color;
}

// .primcol-dark-container {
//     @extend .primcol, .darken-4;
//     @extend .text-primcol, .lighten-2;
// }

// .primcol-container {
//     @extend .primcol, .darken-3;
//     @extend .text-primcol, .lighten-3;
// }

.seccol-light-container {
    background-color: $secondary-color-light;
    text: $text-secondary-color;
    // opacity: 0.9;
}

.seccol-accent-container {
    background-color: $secondary-color-accent
    ;
}