/*****************************************************************************/
/* main: Style imports from scss partials */
/*****************************************************************************/


@import 'colors';

@import 'client/templates/layouts/master_layout/master_layout';
@import 'client/templates/login/login';

body {
    // @extend .seccol-light-container;
    background-image: url("espace2.jpg");
    background-size:100%;
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.container {
    opacity: 0.8;
    border-radius: 20px;
}