/*****************************************************************************/
/* main: Style imports from scss partials */
/*****************************************************************************/


@import 'colors';

@import 'client/templates/layouts/master_layout/master_layout';
@import 'client/templates/login/login';

body {
    // @extend .seccol-light-container;
    background-image: url("espace4.jpg");
    background-size:100%;
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.container {
    border-radius: 5px;
    margin-top: 10px;
}