/*****************************************************************************/
/* main: Style imports from scss partials */
/*****************************************************************************/


@import 'colors';

@import 'client/templates/layouts/master_layout/master_layout';
@import 'client/templates/login/login';

// html {
//     font-family: Verdana, Calibri, Trebuchet, sans-serif;
// }

body {
    // @extend .seccol-light-container;
    background-image: url("espace5.jpg");
    background-size:100%;
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.container {
    margin-top: 10px;
}