template(name='Home')
    .section
        .row
            .col.s12.center
                h4 Faire la 
                    span.pink-text Fête
        .row
            .col.s3
                .card.small.primcol-dark-container
                    .card-content
                        span.card-title Oublier         
            .col.s3
                .card.small.primcol-dark-container
                    .card-content
                        span.card-title Disparaître
            .col.s3
                .card.small.primcol-dark-container
                    .card-content
                        span.card-title Connaître
            .col.s3
                .card.small.primcol-dark-container
                    .card-content
                        span.card-title Se montrer
        .row
            .col.s12.center
                h4.pink-text Ou
                .row
            .col.s3
                .card.small.primcol-dark-container
                    .card-content
                        span.card-title Célébrer        
            .col.s3
                .card.small.primcol-dark-container
                    .card-content
                        span.card-title Participer
            .col.s3
                .card.small.primcol-dark-container
                    .card-content
                        span.card-title Découvrir
            .col.s3
                .card.small.primcol-dark-container
                    .card-content
                        span.card-title Aimer



