template(name='Home')
    .section
        .row
            .col.s12.center
                h4 Faire
                    span.pink-text la Fête
        .row
            .col.s12.m6.l3
                .card.small.primcol-dark-container
                    .card-content
                        span.card-title Oublier  
                        p ce monde absurde qui tourne dehors
            .col.s12.m6.l3
                .card.small.primcol-dark-container
                    .card-content
                        span.card-title Disparaître
                        p avec d'autres corps qui dansent
            .col.s12.m6.l3
                .card.small.primcol-dark-container
                    .card-content
                        span.card-title Connaître
                        p la musique et l'environnement festif
            .col.s12.m6.l3
                .card.small.primcol-dark-container
                    .card-content
                        span.card-title Se montrer
                        p à travers un masque d'apparence
        .row
            .col.s12.center
                h4.pink-text Ou
                .row
            .col.s12.m6.l3
                .card.small.primcol-accent-1-container
                    .card-content
                        span.card-title Célébrer
                        p ce que nous avons et ce qu'il nous reste à créer
            .col.s12.m6.l3
                .card.small.primcol-accent-container
                    .card-content
                        span.card-title Jouer
                        p et rire avec ces enfants qui nous entourent
            .col.s12.m6.l3
                .card.small.primcol-accent-1-container
                    .card-content
                        span.card-title Découvrir
                        p de nouveaux espaces de danses et de chants
            .col.s12.m6.l3
                .card.small.primcol-accent-container
                    .card-content
                        span.card-title Aimer
                        p et briser les murs qui nous séparent



