head
    title RE

template(name="Home")
    #big-title
        .container
            .row
                .col-sm-12
                    h1 RE
                    h6 Rhythm Embassy

    #main

    #footer
        .container
            .row
                .col-sm-12 contact@rhythmembassy.com

template(name="posts")
    h3 Latest posts
    .container
        .row
            .col-sm-4 Titre
            .col-sm-3 by auteur
            .col-sm-2
            .col-sm-3 Date
        .row
            .col-sm-12
                = "Contenu de hipster"

